.header{
    height: 30vh;
    max-height: 80px ;
    line-height: 80px;
    width: 100%;
    margin: 0;
    background-color: blueviolet;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}